<%
page.subtitle = config.subtitle
page.banner_img = theme.banner_img
page.banner_img_height = 100
page.banner_mask_alpha = 0.3
%>

<% page.posts.each(function (post) { %>
  <div class="row mx-auto index-card">
    <% var post_url = url_for(post.path), index_img = post.index_img %>
    <% if (index_img) { %>
      <div class="col-12 col-md-4 m-auto index-img">
        <a href="<%= post_url %>" target="_self">
          <img src="<%= url_for(index_img) %>" alt="<%= post.title %>">
        </a>
      </div>
    <% } %>
    <article class="col-12 col-md-<%= index_img ? '8' : '12' %> mx-auto index-info">
      <h2 class="index-header">
        <% if (post.sticky > 0) { %>
          <i class="index-pin iconfont icon-top" title="Pin on top"></i>
        <% } %>
        <a href="<%= post_url %>" target="_self">
          <%= post.title %>
        </a>
      </h2>

      <% var excerpt = post.description || post.excerpt || post.content %>
      <a class="index-excerpt <%= index_img ? '' : 'index-excerpt__noimg' %>" href="<%= post_url %>" target="_self">
        <div>
          <%- strip_html(excerpt).substring(0, 200).trim().replace(/\n/g, ' ') %>
        </div>
      </a>

      <div class="index-btm post-metas">
        <div class="post-meta mr-3">
          <i class="iconfont icon-date"></i>
          <time datetime="<%= full_date(post.date, 'YYYY-MM-DD HH:mm') %>" pubdate>
            <%- date(post.date, config.date_format) %>
          </time>
        </div>
        <% if (post.categories.length > 0) { %>
          <div class="post-meta mr-3 d-flex align-items-center">
            <i class="iconfont icon-category"></i>
            <%- partial('_partials/category-chains', { categories: post.categories, limit: 1 }) %>
          </div>
        <% } %>
        <% if (post.tags.length > 0) { %>
          <div class="post-meta">
            <i class="iconfont icon-tags"></i>
            <% post.tags.each(function(tag){ %>
              <a href="<%= url_for(tag.path) %>">#<%- tag.name %></a>
            <% }) %>
          </div>
        <% } %>
      </div>
    </article>
  </div>
<% }) %>

<%- partial('_partials/paginator') %>
