<%
var separator = ' - '
var title = page.title ? [page.title, config.title].join(separator) : config.title
var keywords = page.keywords || config.keywords
if (keywords instanceof Array) {
  keywords = keywords.join(',')
}
var description = page.description || page.excerpt || (is_post() && page.content) || config.description
if (description) {
  description = strip_html(description).substring(0, 200).trim().replace(/\n/g, ' ')
}
var ogImage = page.og_img || page.index_img
var ogConfig = Object.assign({ image: ogImage && url_for(ogImage) }, theme.open_graph)
%>

<head>
  <meta charset="UTF-8">
  <link rel="apple-touch-icon" sizes="76x76" href="<%= url_for(theme.apple_touch_icon) %>">
  <link rel="icon" href="<%= url_for(theme.favicon) %>">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5.0, shrink-to-fit=no">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta http-equiv="Content-Security-Policy" content="upgrade-insecure-requests">
  <meta name="theme-color" content="#000">
  <meta name="author" content="<%= config.author %>">
  <meta name="keywords" content="<%= keywords %>">
  <%- open_graph(ogConfig) %>
  <meta name="description" content="<%= description %>">
  <meta name="referrer" content="no-referrer-when-downgrade">

  <% if(!theme.html_cache_enable) { %>
  <meta http-equiv="Cache-Control" content="no-cache,no-store,must-revalidate">
  <meta http-equiv="Pragma" content="no-cache">
  <meta http-equiv="Expires" content="0">
  <% } %>

  <title><%= title %></title>

  <%- partial('_partials/css.ejs') %>
  <%- export_config() %>
  
  
  <script src="<%= url_for('js/utils.js') %>"></script>
  <script src="<%= url_for('js/color-schema.js') %>"></script>

  <%- inject_point('head') %>
</head>
