<nav id="navbar" class="navbar fixed-top  navbar-expand-lg navbar-dark scrolling-navbar">
  <div class="container">
    <a class="navbar-brand" href="<%= url_for() %>">
      <strong><%= config.title %></strong>
    </a>

    <button id="navbar-toggler-btn" class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <div class="animated-icon"><span></span><span></span><span></span></div>
    </button>

    <!-- Collapsible content -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent" style="flex-grow: 0;">
      <ul class="navbar-nav ml-auto text-center">
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for() %>">
            <i class="iconfont icon-home-fill"></i>
            <span><%= __('home.menu') %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for('/archives') %>">
            <i class="iconfont icon-archive-fill"></i>
            <span><%= __('archive.menu') %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for('/categories') %>">
            <i class="iconfont icon-category-fill"></i>
            <span><%= __('category.menu') %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for('/tags') %>">
            <i class="iconfont icon-tags-fill"></i>
            <span><%= __('tag.menu') %></span>
          </a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="<%= url_for('/about') %>">
            <i class="iconfont icon-user-fill"></i>
            <span><%= __('about.menu') %></span>
          </a>
        </li>
        <li class="nav-item" id="search-btn">
          <a class="nav-link" target="_self" href="javascript:;" data-bs-toggle="modal" data-bs-target="#modalSearch" aria-label="Search">
            <i class="iconfont icon-search"></i>
          </a>
        </li>
        <li class="nav-item" id="color-toggle-btn">
          <a class="nav-link" target="_self" href="javascript:;" aria-label="Color Toggle">
            <i class="iconfont icon-dark" id="color-toggle-icon"></i>
          </a>
        </li>
      </ul>
    </div>
  </div>
</nav>